/* Import Fonts */

@font-face {
    font-family: 'Helvetica Neue';
    src: url('~@/assets/fonts/HelveticaNeue.eot');
    src: url('~@/assets/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/HelveticaNeue.woff2') format('woff2'), url('~@/assets/fonts/HelveticaNeue.woff') format('woff'), url('~@/assets/fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('~@/assets/fonts/HelveticaNeue-Bold.eot');
    src: url('~@/assets/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('~@/assets/fonts/HelveticaNeue-Bold.woff2') format('woff2'), url('~@/assets/fonts/HelveticaNeue-Bold.woff') format('woff'), url('~@/assets/fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* css Reset */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
strong,
b,
u,
i,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}